.fa-home{
    width: 1.8rem;
}
.fa-info-circle{
    width: 1.6rem;
}
.fa-laptop-code{
    width: 2rem;
}
.fa-envelope{
    width: 1.6rem;
}

.fa-external-link-alt {
    width: 1.5rem;
    float: right;
    color: var(--secondry1);
}